{% extends 'partials/base.html' %} {% block title %}Home | Best Finance App
{%endblock %} {% block content %}
<style>
  body {
    background-color: #faf3e0; /* Replace this with the actual color code */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #home-page {
    padding: 20px;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 20px;
  }

  .stocks-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .stock-item {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #bdc3c7;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .stock-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .stock-item h2 {
    font-size: 1.5em;
    color: #2980b9;
    margin-bottom: 10px;
  }

  .stock-item p {
    font-size: 1em;
    color: #7f8c8d;
  }

  .stock-chart-container {
    margin: 15px 0;
  }
</style>

<div id="home-page">
  <h1>Stocks of the day</h1>
  <div id="stocks-list" class="stocks-grid">
    <div class="stock-item">
      <h2>AAPL</h2>
      <p>Apple Inc.</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-aapl"></canvas>
      </div>
      <p>Comments: Slight downturn towards resistance levels.</p>
    </div>
    <div class="stock-item">
      <h2>NVDA</h2>
      <p>Nvidia Corp</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-nvda"></canvas>
      </div>
      <p>Comments: Breaking all time highs!.</p>
    </div>
    <div class="stock-item">
      <h2>MSFT</h2>
      <p>Microsoft Corp</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-msft"></canvas>
      </div>
      <p>Comments: Finished above 3 trillion market cap.</p>
    </div>
    <div class="stock-item">
      <h2>INTC</h2>
      <p>Intel Corp</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-intc"></canvas>
      </div>
      <p>Comments: Falling behind in AI race.</p>
    </div>
    <div class="stock-item">
      <h2>GOOG</h2>
      <p>Alphabet inc.</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-goog"></canvas>
      </div>
      <p>Comments: Performing well but lacking in cloud.</p>
    </div>
    <div class="stock-item">
      <h2>AMZN</h2>
      <p>Amazon.com inc.</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-amzn"></canvas>
      </div>
      <p>Comments: AWS has proven to be the backbone of amazon.</p>
    </div>
    <div class="stock-item">
      <h2>TSLA</h2>
      <p>Tesla inc.</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-tsla"></canvas>
      </div>
      <p>Comments: Performing well this quarter.</p>
    </div>
    <div class="stock-item">
      <h2>META</h2>
      <p>Meta Platforms inc.</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-meta"></canvas>
      </div>
      <p>Comments: Performing well this quarter.</p>
    </div>
    <div class="stock-item">
      <h2>AMD</h2>
      <p>Advanced Micro Devices inc.</p>
      <div class="stock-chart-container">
        <canvas id="stock-chart-amd"></canvas>
      </div>
      <p>Comments: Performing well this quarter.</p>
    </div>
  </div>
</div>
{% endblock content %}
