<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ticker Data</title>
  </head>
  <body>
    <h1>Stock Data</h1>
    {% for ticker, data in ticker_data.items %}
    <h2>{{ ticker }}</h2>
    {% if data.results %}
    <p>Open: {{ data.results.0.o }}</p>
    <p>Close: {{ data.results.0.c }}</p>
    <p>High: {{ data.results.0.h }}</p>
    <p>Low: {{ data.results.0.l }}</p>
    {% else %}
    <p>Error fetching data: {{ data.error }}</p>
    {% endif %} {% endfor %}
  </body>
</html>
